# IDE
.idea/
.vscode/
*.iml

# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
build/
.packages

# Android
android/.gradle/
android/local.properties
android/key.properties
android/*.keystore
android/app/release/

# Generated
*.g.dart
*.freezed.dart

# OS
.DS_Store
Thumbs.db

# Secrets
*.env
api_keys.dart
